body {
    background: red;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus, input[type=submit]{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

input[type=submit] {
    margin-top: 22px;
    padding: 10px;
}

.todos li {
    background: #423a6f;
    color: #fff;
}
.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}
